{{>header}}
<p>Use this site to get your weather</p>

<form action="/weather" method="get">
    <input type="text" id="lat" placeholder="latitude">
    <input type="text" id="lon" placeholder="longitude">
    <button>Search</button>
</form>
<p id="message-1"></p>
<p id="message-2"></p>
{{>footer}}
