{{>header}}
{{!-- let weatherdata = {
                temp: body.main.temp-271.15,
                name: body.name,
                description: body.weather[0].description
            }; --}}
<ul>
    <li>temperature: {{weatherdata.temp}}</li>
    <li>city: {{weatherdata.name}}</li>
    <li>weather: {{weatherdata.description}}</li>
</ul>
{{>footer}}
